body {
	margin: 0;
	background: black;
}

#container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/*overflow-y: scroll;*/
	overflow-x: hidden;
}

#app {
	max-width: 600px;
	margin: 0 auto;

	background: black;
	position: relative;
/*	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;*/
	height: 100vh;
	overflow-y: scroll;
}

#splash {
	z-index: 999;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.splash-container {
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App-logo {
    height: 16vmin;
    pointer-events: none;
  }
  
  .App-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vmin;
  }
  
  .App-phone-input {
    display: flex;
    flex-direction: row;
}

body {
	margin: 0;
	background-color: black;
  }


  .App-header {
  	max-width: 600px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.App-tab-control {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


.App-user-profile {
    width: 7vmin;
    height: 7vmin;
    border-radius: 16vmin;
}

.App-group {
    width: 6vmin;
    height: 6vmin;
}

.App-text-input {
    margin-top: 4vmin;
    background: transparent;
    border: none;
    outline: none !important;
    font-size: 35px;

    text-align: center;
    font-weight: 700;
    color: white;

    margin-left: -1.5vmin;
    margin-right: -1.5vmin;

    width: 99%;
}

.toastify-avatar {
    width: 60px !important;
    height: 40px !important;
    margin-bottom: -15px !important;
    margin-top: -15px !important;
}

.toastify {
    font-size: 14px;
    font-family: 'Nunito', sans-serif !important;  
    font-weight: 700;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255,0.1) !important;
    border-radius: 10px !important;
}

.toast-node {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toast-node-text {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-left: 2.5px;
}

.toast-logo {
    width: calc(60px*0.9);
    height: calc(40px*0.9);
    margin: 0;
    padding: 0;
}

.toast {
    margin-bottom: -30px;
    height: 30px;
    top: 30px;
    position: relative;
    color: white;
    /*background: black;*/
    background: transparent;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
}

.App-br-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4.5vh;

    overflow: hidden;
}

.unlock-now {
    background-color: #f54254;
    color: white;
    border: none;
    outline: none;
    padding: 7.5px;
    border-radius: 5px;
    margin-left: 15px;
}

.App-br-post:nth-child(1) {
    margin-top: 2.5vh;
}

.App-br-post-header {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.App-user-info {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
} 

.App-dots {
    width: 5.5vmin;
    height: 5.5vmin;
    opacity: 0.95;
    margin-left: auto;
    margin-top: -0.4vh;
}

.App-br-post-content {
    overflow: hidden;
    height: calc(4/3 * 100%);
    margin-top: 1vh;
    border-radius: 15px;
}

.App-post-main-img {
    width: 100%;
}

.App-post-blurred {
    filter: blur(10px);
}

.App-invisible-img {
    width: 8.5vmin;
    height: 8.5vmin;
}

.App-post-warning {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 56.5%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-realmoji-info {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 56.5vh;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    pointer-events: none;
}

.draggable-source--is-dragging {
    opacity: 0;
}

.App-post-late-br {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none; 
    outline: none !important;
    background-color: white;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 500;  /* TODO : Fix font weight */
    font-size: 12px;
    margin-top: 2vh;
}

.unlock-now {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.App-post-secondary-img {
    width: 30%;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}

.App-view-realmojis {
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.7);
    border-radius: 50px;
    margin-right: 5vmin;
    margin-bottom: -5vmin;
    pointer-events: all;
}

.App-secondary-img-unlocked {
    border: 2px solid black;
    margin: 7.5px;
}

.App-caption-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1vmin;
    margin-left: 4vmin;
    height: 10vmin;
    /*margin-bottom: -3.5vmin;*/
}

.App-continue-button {
    width: 95%;
    height: 12vmin;

    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(40, 40, 40);


    background-color: rgb(140,140,140);
    border: none;
    outline: none;
    border-radius: 10px;
    
    display: block;
    position: fixed;
    bottom: 3.5vmin;
    max-width: 600px;
}

.enabled {
    background-color: white;
}

.App-birthday-input {
    display: flex;
    justify-content: space-between;
}

.App-text {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}

.muted {
    opacity: 0.7;
}



#screen-cover {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255,0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rm-title {
	color: white;
	font-family: sans-serif;
    font-weight: 800;
}

.rm-txt {
	color: white;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 12px;
	margin-top: -10px;
}

/* NICER ALERTS */

.alert * {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-ms-touch-action: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.alert *:focus {
	outline: 0
}

.alert {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -135px;
	margin-top: -50px;
	width: 270px;
	text-align: center;
	font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	border-radius: 13px;
	overflow: hidden;
	z-index: 9999999999999999999999998;
	background-color: rgba(255, 255, 255, 0.8);
}

.alert .inner {
	padding: 15px;
}

.alert .title {
	font-weight: 500;
	font-size: 18px;
}

.alert .text {
	margin-top: 5px;
}

.alert .button {
	position: relative;
	height: 44px;
	line-height: 44px;
	font-size: 17px;
	color: #007aff;
	border-radius: 0 0 13px 13px;
	overflow: hidden;
	cursor: pointer;
}

.alert .button:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 1px;
	width: 100%;
	display: block;
	background-color: #c4c4c4;
	z-index: 9999999999999999999999999;
}

.top-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92.5%;
}

.top-name-text {
    font-family: sans-serif;
    color: white;
    font-size: 15.5px;
    text-align: center;
    font-weight: 500;
}

.page-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.comments-tab, .realmojis-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    opacity: 0.6;
}

.tab-title {
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.selected-tab {
    border-bottom: 2px solid rgba(255,255,255,0.9);
    opacity: 1;
}

.comments-list {
    display: flex;
    flex-direction: column;
    margin-top: -0.5vh;
    padding-left: 17.5px;
    width: 100%;
}

.comment {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.profile-photo {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.comment-author {
    color: white; 
    font-family: sans-serif;
    font-size: 13px;
    margin: 0;
}

.comment-body {
    color: white; 
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-top: 2px;
    text-align: left;
    width: 95%;
}

.comment-reply {
    color: white; 
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 500;
    opacity: 0.8;
    margin: 0;
    margin-top: 5px;
}

.leading-text {
    display: flex;
    flex-direction: column;
    margin-left: 8.5px;
    justify-content: flex-start;
    align-items: flex-start;
}

.trailing-text {
    margin-left: auto;
    padding-right: 2vw;
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.comment-time {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding-right: 3.5vw;
    opacity: 0.35;
    position: absolute;
    margin-top: 0;
    right: 10px;

}

.enter-comment {
    width: 100%;
    height: 42px;
    border-top: 1px solid rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-input {
    height: 70%;
    width: 80%;
    background-color: transparent;
    border: none !important;
    outline: none !important;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    text-indent: 7.5px;
    font-weight: 300;
}

.send-btn {
    color: white;
    opacity: 0.4;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5%;
}

.mention {
    color: rgb(55, 125, 255);
}

.view-comments {
    opacity: 0.5;
}

.menu-control {
    width: 14.5px;
    height: 14.5px;
}

.menu-options {
    width: 17.5px;
    height: 17.5px;
}


.post-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}
.post-prompt-message {
    color: white;
    font-size: 13px;
    opacity: 0.9;
    font-family: sans-serif;
    font-weight: 400;
    width: 80%;
    text-align: center;
    margin-bottom: 0px;
}

.img-src {
    width: 95vw;
    height: 60vh;
    margin-top: 1vh;
    margin-left: -1vw;
}

.img-outer-upload {
    border: 2.5px dashed rgba(255,255,255,0.2);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    aspect-ratio: 1500 / 2000 !important;
}

.upload-instructions {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba(255,255,255,0.7);
    font-weight: 400;
    width: 100px;
    text-align: center;
    line-height: 22.5px;
}

.upload-icon {
    width: 30px;
    height: 30px;   
    margin-top: 10px;
    margin-left: 5px;
    opacity: 0.7;
}

.img-inner-upload {
    border: 4.5px dashed rgba(255,255,255,0.2);
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform: scale(0.6);
    left: 0;
    top: 0;
    margin-left: -6.5%;
    margin-top: -8%;
    border-radius: 5px;
    background-color: black;

    z-index: 1;
    aspect-ratio: 1500 / 2000 !important;
}

.submit-btn {
    position: fixed;
    background-color: white;
    color: black;
    padding: 3.5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: 'Roboto', cursive;
    font-weight: 700;
    padding: 12px;
    border-radius: 2.5px;
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin-left: 0px;
    margin-top: 50px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 18px;
    width: 90vw;
    bottom: 60px;
    max-width: 600px;
}

.btn-grad {
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
    border-radius: 5px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.own-secondary-img {
    width: 10%;
    margin-left: 1vw;
    margin-top: 1vw;
    position: absolute;

    z-index: 1;
    border-radius: 5px;
    border: 1px solid black;
}

.own-main-img {
    width: 25vw;
}

.own-content {
    border-radius: 7.5px;
}

.App-own-post {
    margin-top: 1.25vh !important;
    margin-bottom: -2.5vh;
}

.own-post-timestamp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.app-own-dots {
    width: 5.5vmin;
    height: 5.5vmin;
    opacity: 0.65;
    margin-left: 1.5vw;
    margin-top: 0.1vh;
}

.img-inner-upload-canvas {
    width: 100%;
    height: 100%;
    display: none;
}


.img-outer-upload-canvas {
    width: 100%;
    height: 100%;
    display: none;
}

video {
    position: absolute;
    z-index: 100000000;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #F45C43;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #EB3349 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .img-upload-load {
    display: none;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: 30vh;
    opacity: 0;
  }

  .go-back{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #EB3349;
    text-decoration: underline;
    font-weight: 400;
    position: fixed;
    bottom: 20px;
    cursor: pointer;

  }

  .loading-info {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .wsy {

  }

  .pht {
    margin-top: -5px;
  }